@import './partials/colors';
@import './partials/typography';
@import './partials/reset';


body {
	background-image: 
		url('../../images/bg.png'),
		url('../../images/light.png');
}

//---- ALARM SECTION ----// 

#alarm_top {
	background: $alarmBackgroundColor;
	border-bottom: 5px solid #eaeff3; 
	box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.3);
	height: 30px;
	margin-bottom: 30px;
	padding-top: 15px;
	text-align: center;
	
	p { 
		color: #e34848;
		font: $alarmText; 
		padding-left: 110px;
	}
}

#close_button {
	padding-top: 3px;

	a {
		background-image: url("../../images/close.png");
		background-repeat: no-repeat;
		height: 15px;
		display: block;
	
		&:hover {
			background-image: url("../../images/close-hover.png");
			background-repeat: no-repeat;
			height: 15px;
			display: block;
		}
	}
}

//---- CONTAINER SECTION ----//

#sub_container {
	margin: 150px;
}

#form {
	border-radius: 4px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	height: 239px;
	margin: 0 auto;
	position: relative;
	width: 360px;
}

#form:before {
	background: black;
	bottom: -8px;
	border-radius: 5px;
	content: '';
	left: -8px;
	right: -8px;
	top: -8px;
	opacity: 0.05;
	position: absolute;
	z-index: -1;
}

#form_title {
	background: -webkit-linear-gradient(#ffffff, #ecf1f3);
	background: -o-linear-gradient(#ffffff, #ecf1f3);
	background: -moz-linear-gradient(#ffffff, #ecf1f3);
	background: linear-gradient(#ffffff, #ecf1f3);
	border-radius: 4px 4px 0 0;
	border-bottom: 1px solid #f6f8f9;
	height: 45px;
	position: relative;
	text-align: center;
	white-space: nowrap;

	p {
		color: #555;
		font: $titleText;
		line-height: 45px;
		
	}
}

#form_title:before {
	border-bottom: 1px solid #bfc3c5;
	bottom: -2px;
	content: '';
	left: 0px;
	position: absolute;
	right: 0px;
	z-index: -1;	
}

#form_content { 
	background: #fdfdfd;
	border-radius: 0 0 4px 4px;
	height: 193px;
	margin-top:1px;
	position: relative;
	width: 360px;
	
	// -- Inputs -- //

	#form_inputs {
		left: 24px;
		position: absolute;
		top: 24px;

		input[type="text"] {
			border-radius: 3px;
			border: 1px solid #b9bcbe;
			box-shadow: 
				inset 0 1px 4px rgba(0, 0, 0, 0.25),
				0 0 0 4px #f2f5f7;
			color: #aeaeae;
			display: block;
			font: $formText;
			height: 35px;
			margin-bottom: 18px;
			padding-left: 11px;
			position: relative;
			width: 312px;
		
			&:focus {
				border: 1px solid #7dc6dd;
				box-shadow: 
					inset 0 1px 4px rgba(0, 0, 0, 0.25),
					0 0 0 4px #e0f1fc;
				outline: 0;
			}
		}



		#form_send {
			margin-top: 8%;
			
			p {
				color: #555;
				font: $rememberText;
				top: 5px;
			}
			
			input[type="submit"] {
				// falta una sombra exterior antes de la grande
				background: -webkit-linear-gradient(#edf6f9, #cde5ee);
				background: -o-linear-gradient(#edf6f9, #cde5ee);
				background: -moz-linear-gradient(#edf6f9, #cde5ee);
				background: linear-gradient(#edf6f9, #cde5ee);
				border: 1px solid #b6cbd1;
				border-radius: 15px;
				box-shadow: 0 0 0 4px #f2f5f7; 
				color: #527988;
				float: right;
				font: $buttonText;
				height: 30px;
				width: 70px;

				&:active {
					background: -webkit-linear-gradient(#cfe6ef, #e5f1f6);
					background: -o-linear-gradient(#cfe6ef, #e5f1f6);
					background: -moz-linear-gradient(#cfe6ef, #e5f1f6);
					background: linear-gradient(#cfe6ef, #e5f1f6);
					border: 1px solid #a2c5d2;
					box-shadow: inset 0px 1px 4px -1px rgba(79, 134, 152, 0.6),
					0 0 0 4px #f2f5f7;
				}

				&:hover {
					background-color: #d3e8f0;
					background-image: linear-gradient(to top, rgba(255, 255, 255, 0.16) 0%, rgba(0, 0, 0, 0.01) 100%);
					border: 1px solid #b6cbd1;
					box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.15), inset 0 0.5px 1px white,
					0 0 0 4px #f2f5f7;
					text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
				}

				&:focus {
					outline: none;
				}
			}
		}
	}

}


// -- Forgot Password -- //

#forgot_password {
	color: #fff;
	font: $forgotText;
	margin-top: 20px;
	position: relative;
	text-align: center;	
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);

	a {
		color: #cbebf6;
		font: $forgotTextLink;
		text-decoration: none;
	}
}