//---- TYPOGRAPHY ----//
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

$bold: 'Open Sans', bold, sans-serif;
$normal: 'Open Sans', sans-serif;

$titleText: bold 14px $bold;
$boxText: 13px $normal;
