//---- TYPOGRAPHY ----//

$bold: HelveticaNeue Bold, sans-serif;
$medium: HelveticaNeue Medium, sans-serif;
$normal: HelveticaNeue, sans-serif;

$titleText: bold 14px $bold;
$alarmText: bold 14px $bold;
$formText: 13px $normal;
$buttonText: bold 13px $medium;
$forgotText: bold 12px $medium;
$rememberText: 12px $normal;
$forgotTextLink: bold 12px $medium;